<!DOCTYPE html>
<html lang="es-PE">
<head>
    <meta charset="UTF-8">
    <title>Turismo</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="iconos/style.css">
    <link href="https://fonts.googleapis.com/css?family=Rancho|Lemonada" rel="stylesheet">
    <link rel="stylesheet" href="/css/estilos.css">


</head>
<body>
    <header>
        <div id="principal">
            <h1 id="name">Gurú Tour</h1>
            <p id="descript">paquetes, viajes, cultura y más.</p>
            <img src="img/portada3.png">
            
        </div>
    </header>
    <div class="contend col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div id="map" class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2009988.6428973093!2d-76.53719983184037!3d-10.280986642811566!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91086d5a5ee8c7a9%3A0x4a77bd5a8a8e3dbb!2zUGFzY28sIFBlcsO6!5e0!3m2!1ses!2ses!4v1499033619095" frameborder="0" style="border:0" allowfullscreen></iframe>
            <div class="col-lg-4 col-lg-offset-9 col-md-4 col-sm-4 col-xs-4">
              <button class="btn btn-primary">
                <p>Chatea con Gurú Tour</p>
                <span class="glyphicon glyphicon-comment"></span>
              </button>
            </div>
            <img>
        </div>
        <div id="banner" class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                <li data-target="#carousel-example-generic" data-slide-to="2"></li>
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">
                <div class="item active">
                  <img src="img/chunguinada.jpg" alt="...">
                  <div class="carousel-caption">
                    ...
                  </div>
                </div>
                <div class="item">
                  <img src="img/auquish_danza.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="item">
                  <img src="img/cmapohuaylas.jpg" alt="...">
                  <div class="carousel-caption">
                  </div>
                </div>
              </div>
              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
        </div>
    </div>
    
    <script src="/js/jquery.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/bootstrap.js"></script>
</body>
</html>